<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.runtime.sensoroic">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".OicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DeviceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LightActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".sensors.LAccelerometerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".sensors.TemperatureActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".sensors.MagnetometerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".sensors.LightSensorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".sensors.HumidityActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".sensors.PressureActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".sensors.ColorSensorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".sensors.AccelerometerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity android:name=".activity.SplashActivity" />

        <service
            android:name=".service.HistoricalDataService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.SensorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
    </application>

</manifest>